/* Tambahkan gaya CSS untuk animasi invoice */
.invoice-container {
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
  transform: translateY(-100%);
}

.invoice-container.show {
  opacity: 1;
  transform: translateY(0);
}
